.about {
  .title {
    color: orange;
  }
  .image-box {
    width: 200px;
    height: 100px;
    border: 1px solid;
    background-image: url("../../assets/images/20210308-153537\(WeLinkPC\).png");
  }
  background-size: cover;
}